.students {
    border-collapse: collapse;
    width: 100%;
    
    tr{
        &:nth-child(even){background-color: #f2f2f2;}
        &:hover {background-color: #ddd;}
        td:last-child{
            font-weight: 600;
        }
    }
    
    td, th{
        border: 1px solid #ddd;
        padding: 8px;
    }

    th{
        padding-top: 12px;
        padding-bottom: 12px;
        text-align: left;
        background-color: #04AA6D;
        color: white;
    }
}
.promocionado{
    color: green;
}
.regular{
    color: orange;
}
.libre{
    color: red;
}
