table, th, td {
    border: 1px solid;
}
th{
    background-color: cadetblue;
}

.promocionado{
    background-color: green;
}
.regular{
    background-color: yellowgreen;
}
.libre{
    background-color: orangered;
}
