<table class="students" width="100%" cellspacing="0">
    <thead>
        <tr>
            <th>Nombre</th>
            <th>Apellido</th>
            <th>Fecha Nacimiento</th>
            <th>Condicion</th>
        </tr>
    </thead>
    <tbody>
        <ng-container *ngFor="let student of students">
            <tr *ngIf="student.estado!='baja'"  >
                <td >{{student.nombre}}</td>
                <td>{{student.apellido}}</td>
                <td>{{student.fechaNacimiento | date:"dd-MM-yyyy"}}</td>
                <td [ngClass]="{'promocionado':student.nota>=7,
                                'regular':student.nota<7 && student.nota>4,
                                'libre':student.nota<4
                                }">{{getCondicion(student.nota)}}</td>
            </tr>
        </ng-container>
    </tbody>
</table>
