<table class="table table-bordered table-hover" width="100%" cellspacing="0">
    <thead>
        <tr>
            <th>Nombre</th>
            <th>Apellido</th>
            <th>Fecha Nacimiento</th>
            <th>Condicion</th>
        </tr>
    </thead>
    <tbody>
        <ng-container *ngFor="let student of students">
            <tr style="background-color: red;" *ngIf="student.estado!='baja'"  >
                <td >{{student.nombre}}</td>
                <td>{{student.apellido}}</td>
                <td>{{student.fechaNacimiento | date:"dd-MM-yyyy"}}</td>
                <td>{{student.condicion}}</td>
            </tr>
        </ng-container>
    </tbody>
</table>
